# Ignore dataset folders
task/*/Train/
task/*/Test/
task/*/Meta/
task/*/data

# Ignore CSV files (optional)
**/*.csv

# Ignore zip files
*.zip

# VS Code settings and OS files
.vscode/
.DS_Store
Thumbs.db

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter checkpoint files
.ipynb_checkpoints/

# Environment files
.env
*.egg-info/
